<!-- Project details-->	
<!DOCTYPE project [
<!ENTITY release "v03_07_00">
<!ENTITY name "gen_photon_ball_0">
]>
		
<project name="&name;">
	
  <!-- Group -->
  <group>uboone</group>
	
  <!-- Project size -->
  <numevents>240</numevents>
  
  <!-- Batch OS -->
  <os>SL6</os>
	
  <!-- Larsoft information -->
  <larsoft>
    <tag>&release;</tag>
    <qual>e6:prof</qual>
    <local>/uboone/app/users/toups/updatedpmtgeometry/localProducts_larsoft_v03_07_00_e6_prof</local>
  </larsoft>
  
  <stage name = "library_build">
    <fcl>/uboone/app/users/toups/updatedpmtgeometry/srcs/larsim/PhotonPropagation/LibraryBuildTools/prodsingle_buildopticallibrary.fcl</fcl>
    <outdir>/uboone/data/users/toups/work/&release;/&name;</outdir>	
    <workdir>/uboone/app/users/toups/work/&release;/&name;</workdir>
    <numjobs>1</numjobs>	
    <histmerge>hadd</histmerge>
  </stage>
  
</project>
