#include "genie.fcl"

BEGIN_PROLOG


dunefd_genie_hist:                    @local::standard_genie
dunefd_genie_simple_neutrino:         @local::standard_genie

dunefd_genie_simple_neutrino.TopVolume:        "volDetEnclosure"
dunefd_genie_hist.BeamCenter:       [-100., -351., 10.] # just aiming for now move back to zero  
dunefd_genie_hist.BeamDirection:    [0., 0., 0.]




dune35t_genie_hist:                           @local::standard_genie
dune35t_genie_simple_neutrino:                @local::standard_genie

dune35t_genie_simple_neutrino.TopVolume:      "volCryostat"
dune35t_genie_hist.BeamCenter:                [100., 50., 0.]
dune35t_genie_hist.BeamDirection:             [0., 0., 0.]



END_PROLOG
