#include "services_lbne.fcl"
#include "singles_lbne.fcl"
#include "largeantmodules_lbne.fcl"
#include "detsimmodules_lbne.fcl"
#include "opticaldetectormodules_lbne.fcl"
#include "photpropservices_lbne.fcl"
#include "lightsource_lbne.fcl"


process_name: LibraryBuild


services:
{
  # Load the service that manages root files for histograms.
  TFileService: { fileName: "PhotonLibraryFile_lbnefd.root" }
  Timing:       {}
  RandomNumberGenerator: {} #ART native random number generator
  user:         @local::lbnefd_simulation_services
}

# Use the build pset, with BuildLibraryFile set to true. Don't use the
# cryo boundary since each cryostat is divided into 3 sections for 10kt
services.user.PhotonVisibilityService: @local::standard_photonvisibilityservice_buildlib
services.user.PhotonVisibilityService.UseCryoBoundary: false

# UseCryoBoundary is set to false, so use the following parameters.
# For now, set equal to first APA yz-slice, will need adjustment
services.user.PhotonVisibilityService.XMin: -1597.11 
services.user.PhotonVisibilityService.XMax: -1121.12
services.user.PhotonVisibilityService.YMin: -702.5
services.user.PhotonVisibilityService.YMax:  702.5
services.user.PhotonVisibilityService.ZMin: -0.75
services.user.PhotonVisibilityService.ZMax:  2534.25

# Number of voxels, will need adjustment
# The following are the uB numbers for now
services.user.PhotonVisibilityService.NX: 75
services.user.PhotonVisibilityService.NY: 75
services.user.PhotonVisibilityService.NZ: 400


services.user.BackTracker: ""
services.user.LArFFT: ""

#Start each new event with an empty event.
source:
{
  module_type: EmptyEvent
  maxEvents:   2           # Number of events to create
  firstRun:    1           # Run number to use for this file
  firstEvent:  1           # number of first event in the file
}

physics:
{

 producers:
 {
   generator: @local::lbnefd_lightsource	  
   largeant:  @local::lbnefd_largeant	  
 }

 analyzers:
 {
   pmtresponse: @local::lbnefd_simphotoncounter
 }

 simulate: [ generator, largeant ] 
 analyzeIt:  [ pmtresponse ]
 stream1:  [ ]

 trigger_paths: [simulate] 

 end_paths:     [analyzeIt, stream1]  
}

outputs:
{
 out1:
 {
   module_type: RootOutput
   fileName:    "single_lbnefd_build.root" #default file name, can override from command line with -o or --output
 }
}

# Begin optical specific parts:

# set quantum efficiency supressed scint yield to 0.03 * 24000 
services.user.LArProperties.ScintYield: 72

# enable optical physics in LArG4
services.user.LArG4Parameters.EnabledPhysics: [ "Em", 
						"Optical", 
						"SynchrotronAndGN", 
						"Ion", 
						"Hadron", 
						"Decay", 
						"HadronElastic", 
						"Stopping", 
						"NeutronTrackingCut" ]

# enable this custom physics list
services.user.LArG4Parameters.UseCustomPhysics: true

# do not allow lightsource to write output into root file
physics.producers.generator.FillTree: false


physics.analyzers.pmtresponse.MakeAllPhotonsTree: false
physics.analyzers.pmtresponse.MakeDetectedPhotonsTree: false
physics.analyzers.pmtresponse.MakeSimPhotonssTree: false
physics.analyzers.pmtresponse.MakeEventsTree: false
